<h1>Angular Essentials - DEMO</h1>
<h3>Angular Essentials and CRUD with Databinding - v1.0.0</h3>
<div class="d-flex">
    <!-- Default way of using Router Link -->
    <a routerLink="">
        <button class="btn btn-outline-success">Startup</button>
    </a>
    <!-- Another approach to use Router Link -->
    <a [routerLink]="'todo-app'">
        <button class="btn btn-outline-primary">To-Do App</button>
    </a>
    <!-- Passing Parameters with Router Link -->
    <a [routerLink]="['Something']">
        <button class="btn btn-outline-primary">TBA</button>
    </a>

    <a routerLink="tba">
        <button class="btn btn-outline-primary">TBA</button>
    </a>
</div>
