<h1>Angular Essentials - DEMO</h1>
<h3>Angular Essentials and CRUD with Databinding - v1.0.0</h3>
Basics
<hr>
<div class="d-flex">
    <!-- Default way of using Router Link -->
    <a routerLink="">
        <button class="btn btn-outline-success">Startup</button>
    </a>
    <!-- Another approach to use Router Link -->
    <a [routerLink]="'todo-app'">
        <button class="btn btn-outline-primary">To-Do App</button>
    </a>
    <!-- Passing Parameters with Router Link -->
    <a [routerLink]="['data-binding']">
        <button class="btn btn-outline-primary">Data Binding</button>
    </a>

    <a routerLink="directives">
        <button class="btn btn-outline-primary">Directives</button>
    </a>
</div>

Data communication
<hr>

Http
<hr>
