<div class="d-flex flex-row" >
    <div class="background-color card p-3 container">
        <div class="row">
          <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
            <form (ngSubmit)="onSubmit(f)" #f="ngForm">
              <div id="productFormId" ngModelGroup="categoryGroup" #categoryGroup="ngModelGroup">
                <p class="fw-bold">Insert Category</p>
                <div class="form-group">
                  <label for="category">Category Name</label>
                  <input type="text" id="category" class="form-control" ngModel name="categoryName" required>
                </div>
                <div class="form-group">
                  <label for="email_1">Email</label>
                  <input type="email" id="email_1" class="form-control" ngModel name="email" required email #email="ngModel">
                  <span class="text-danger help-block" *ngIf="!email.valid && email.touched">Please enter a valid email!</span>
                </div>
                <div class="form-group">
                    <label for="contact">Contact Number</label>
                    <input type="email" id="contact" class="form-control" ngModel name="contactNumber" required>
                  </div>
              </div>
              <button [disabled]="!f.valid" class="btn btn-primary" type="submit">Insert</button>
            </form>
            <span class="text-danger help-block" *ngIf="!categoryGroup.valid && categoryGroup.touched">Invalid category data!</span>
          </div>
        </div>
      </div>

      <div class="background-color card ms-3 p-3 container">
        <div class="row">
          <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
            <form (ngSubmit)="onProductFormSubmit()" #product="ngForm">
              <div id="categoryFormId" ngModelGroup="productGroup" #productGroup="ngModelGroup">
                <p class="fw-bold">Insert Products</p>
                <div class="form-group">
                  <label for="productName">Product Name</label>
                  <input type="email" id="productName" class="form-control" ngModel name="productName" required>
                </div>
                <div class="form-group">
                    <label for="email_2">Price</label>
                    <input type="email" id="email_2" class="form-control" ngModel name="price" required>
                  </div>
              </div>
              <div class="form-group">
                <label for="category">Product Category</label>
                <select id="category_options" class="form-control" [ngModel]="defaultProductCategory" name="category" required>
                  <option [ngValue]="item['id']" *ngFor="let item of listOfProducts">{{item['productCategoryName']}}</option>
                </select>
              </div>
              <button [disabled]="!product.valid" class="btn btn-primary" type="submit">Insert</button>
            </form>
            <span class="text-danger help-block" *ngIf="!productGroup.valid && productGroup.touched">Invalid product data!</span>
          </div>
        </div>
      </div>
</div>


