<div class="card background-color-gray-1 mt-3 p-3 container">
    <div class="row">
      <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
        <form>
          <div class="form-group">
            <label for="secret"><p class="fw-bold">Secret Category</p></label>
            <select id="secret" class="form-control">
              <option value="pet">1 - CategoryName</option>
              <option value="teacher">2 - CategoryName</option>
            </select>
          </div>
          <button class="btn btn-primary" type="submit">Search</button>
        </form>
      </div>
    </div>
  </div>
  
<app-product-display></app-product-display>
